# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
venv/
env/

# Ignore Django migrations
*/migrations/

# Ignore SQLite database
db.sqlite3

# Ignore VSCode settings
.vscode/
